body {
  border: 1.5px solid #ff914d;
  height: 96vh;
  border-radius: 5px;
  margin: 1em;
  text-align: center;
  background-color: #ffd9e3;
}

.link {
  color: #ff914d;
  background-color: #ffd9e3;
  border-color: #ff914d;
  border-radius: 2px;
  border-width: 1px;
}

h1 {
  color: #ff914d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
}

h2 {
  color: #ff914d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
}

ul {
  list-style-type: none;
}